## Exploratory Data Analysis of Counsumption_by_liquor 2019

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\Arnold\OneDrive\Desktop\Scraping files\Counsumption_by_liquor.csv', encoding= 'unicode_escape')
df

,Country,Recordedconsumption,Unrecordedconsumption,Beer(%),Wine(%),Spirits(%),Other(%),2025projection,2030projection
0,Estonia,11.8,1.1,35.3,16.9,38.2,9.7,11.1,12.2
1,Lithuania,11.0,0.8,42.5,7.7,45.2,4.6,11.7,12.1
2,Czech Republic,12.9,0.4,52.7,21.8,25.4,<0.1,13.4,13.2
3,Seychelles,13.3,0.5,42.0,20.8,33.7,3.5,12.1,11.7
4,Germany,11.1,0.4,50.5,29.9,19.6,<0.1,12.1,11.6
...,...,...,...,...,...,...,...,...,...
373,Bangladesh,<0.1,<0.1,11.1,2.4,86.3,0.1,<0.1,<0.1
374,Kuwait,<0.1,<0.1,â,â,â,â,<0.1,<0.1
375,Libya,<0.1,<0.1,6.8,10.5,32.6,50.2,<0.1,<0.1
376,Mauritania,<0.1,<0.1,â,â,â,â,<0.1,<0.1
377,Somalia,<0.1,<0.1,â,â,â,â,<0.1,<0.1

In [3]:
### Descriptive analysis of the dataset:
print (f"Shape of the dataset: {df.shape}")
print("*" * 99)
print (f"Columns in the dataset: {df.columns}")
print("*" * 99)
print (f"Datatypes of each column: {df.dtypes}")
print("*" * 99)
print (f"First five records in the dataset: {df.head(5)}")
print("*" * 99)
print (f"Statistical summary about the dataset: {df.describe(include="all")}")
print("*" * 99)

Shape of the dataset: (378, 9)
***************************************************************************************************
Columns in the dataset: Index(['Country', 'Recordedconsumption', 'Unrecordedconsumption', 'Beer(%)',
       'Wine(%)', 'Spirits(%)', 'Other(%)', '2025projection',
       '2030projection'],
      dtype='object')
***************************************************************************************************
Datatypes of each column: Country                  object
Recordedconsumption      object
Unrecordedconsumption    object
Beer(%)                  object
Wine(%)                  object
Spirits(%)               object
Other(%)                 object
2025projection           object
2030projection           object
dtype: object
***************************************************************************************************
First five records in the dataset:           Country Recordedconsumption Unrecordedconsumption Beer(%) Wine(%)  \
0         Estonia                11.8                   1.1    35.3    16.9
1       Lithuania                11.0                   0.8    42.5     7.7
2  Czech Republic                12.9                   0.4    52.7    21.8
3      Seychelles                13.3                   0.5    42.0    20.8
4         Germany                11.1                   0.4    50.5    29.9

  Spirits(%) Other(%) 2025projection 2030projection
0       38.2      9.7           11.1           12.2
1       45.2      4.6           11.7           12.1
2       25.4     <0.1           13.4           13.2
3       33.7      3.5           12.1           11.7
4       19.6     <0.1           12.1           11.6
***************************************************************************************************
Statistical summary about the dataset:         Country Recordedconsumption Unrecordedconsumption Beer(%) Wine(%)  \
count       378                 378                   378     378     378
unique      189                  92                    32     167     133
top     Estonia                <0.1                   0.4     â    <0.1
freq          2                  26                    60       8      18

       Spirits(%) Other(%) 2025projection 2030projection
count         378      378            378            378
unique        166       83             97             98
top           â     <0.1           <0.1           <0.1
freq            8      100             18             20
***************************************************************************************************

### Cleaning the data set :

In [4]:
### Characteristics of the dataset:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                378 non-null    object
 1   Recordedconsumption    378 non-null    object
 2   Unrecordedconsumption  378 non-null    object
 3   Beer(%)                378 non-null    object
 4   Wine(%)                378 non-null    object
 5   Spirits(%)             378 non-null    object
 6   Other(%)               378 non-null    object
 7   2025projection         378 non-null    object
 8   2030projection         378 non-null    object
dtypes: object(9)
memory usage: 26.7+ KB

In [5]:
pd.isnull(df).sum()

Country                  0
Recordedconsumption      0
Unrecordedconsumption    0
Beer(%)                  0
Wine(%)                  0
Spirits(%)               0
Other(%)                 0
2025projection           0
2030projection           0
dtype: int64

In [6]:
###Since there is no null values no requirement to drop any:

In [7]:
df.columns

Index(['Country', 'Recordedconsumption', 'Unrecordedconsumption', 'Beer(%)',
       'Wine(%)', 'Spirits(%)', 'Other(%)', '2025projection',
       '2030projection'],
      dtype='object')

In [8]:
df.head()

,Country,Recordedconsumption,Unrecordedconsumption,Beer(%),Wine(%),Spirits(%),Other(%),2025projection,2030projection
0,Estonia,11.8,1.1,35.3,16.9,38.2,9.7,11.1,12.2
1,Lithuania,11.0,0.8,42.5,7.7,45.2,4.6,11.7,12.1
2,Czech Republic,12.9,0.4,52.7,21.8,25.4,<0.1,13.4,13.2
3,Seychelles,13.3,0.5,42.0,20.8,33.7,3.5,12.1,11.7
4,Germany,11.1,0.4,50.5,29.9,19.6,<0.1,12.1,11.6

In [9]:
### Renaming the columns correctly:
df_1= df.rename(columns={'Recordedconsumption':'Recorded Consumption',
                                'Unrecordedconsumption':'Unrecorded Consumption',
                                'Beer(%)':'Beer (%)',
                                'Wine(%)':'Wine (%)',
                                'Spirits(%)':'Spirits (%)',
                                'Other(%)':'Other (%)',
                                '2025projection':'2025 projection',
                                '2030projection':'2030 projection'
                               })

In [10]:
df_1['Other (%)'].unique()

array(['9.7', '4.6', '<0.1', '3.5', '64.1', '7.6', '2.5', '7.2', '1.9',
       '1.6', '3.7', '0.8', '3.4', '0.7', '1.3', '6.4', '1.7', '0.9',
       '24.7', '15.7', '13.5', '8.6', '1.5', '73.0', '62.0', '6.6', '9.6',
       '0.3', '18.0', '77.7', '2.3', '78.6', '3.6', '9.9', '1.8', '38.8',
       '38.5', '4.0', '4.2', '42.9', '16.2', '0.2', '81.4', '1.1', '3.0',
       '5.9', '1.0', '57.9', '3.2', '0.4', '39.5', '1.4', '3.3', '2.8',
       '3.1', '0.5', '4.3', '0.1', '33.5', '2.6', '12.4', '35.1', '52.2',
       '51.7', '80.3', '85.5', '31.6', '60.6', '15.6', '78.1', '34.3',
       '42.2', '47.1', '0.6', '2.0', '28.7', '58.0', '96.7', '1.2', '4.5',
       '23.6', 'â\x80\x93', '50.2'], dtype=object)

In [11]:
df_1.describe()

,Country,Recorded Consumption,Unrecorded Consumption,Beer (%),Wine (%),Spirits (%),Other (%),2025 projection,2030 projection
count,378,378,378,378,378,378,378,378,378
unique,189,92,32,167,133,166,83,97,98
top,Estonia,<0.1,0.4,â,<0.1,â,<0.1,<0.1,<0.1
freq,2,26,60,8,18,8,100,18,20

In [12]:
### Replacing nan values(â) with 0 , and removing < symbol.

In [13]:
df_1['Spirits (%)'].replace('â', '0',inplace = True)

C:\Users\Arnold\AppData\Local\Temp\ipykernel_29032\2944259283.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_1['Spirits (%)'].replace('â', '0',inplace = True)

In [39]:
df_1['Spirits (%)'] = df_1['Spirits (%)'].str.replace("<", "")

In [14]:
df_1['Beer (%)'].replace('â', '0',inplace = True)

C:\Users\Arnold\AppData\Local\Temp\ipykernel_29032\2750125315.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_1['Beer (%)'].replace('â', '0',inplace = True)

In [38]:
df_1['Beer (%)'] = df_1['Beer (%)'].str.replace("<", "")

In [15]:
df_1['Other (%)'].replace(['â', '0'],inplace = True)

C:\Users\Arnold\AppData\Local\Temp\ipykernel_29032\2309707179.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df_1['Other (%)'].replace(['â', '0'],inplace = True)
C:\Users\Arnold\AppData\Local\Temp\ipykernel_29032\2309707179.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_1['Other (%)'].replace(['â', '0'],inplace = True)

In [ ]:
df_1['Other (%)'] = df_1['Other (%)'].str.replace("<", "")

In [45]:
df_1['Wine (%)'].replace('â', '0',inplace = True)

C:\Users\Arnold\AppData\Local\Temp\ipykernel_29032\2309712421.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_1['Wine (%)'].replace('â', '0',inplace = True)

In [40]:
df_1['Wine (%)'] = df_1['Wine (%)'].str.replace("<", "")

In [42]:
df_1['2025 projection'] = df_1['2025 projection'].str.replace("<", "")

In [43]:
df_1['2030 projection'] = df_1['2030 projection'].str.replace("<", "")

In [47]:
df_1['Unrecorded Consumption'] = df_1['Unrecorded Consumption'].str.replace("<", "")

In [48]:
df_1['Recorded Consumption'] = df_1['Recorded Consumption'].str.replace("<", "")

In [50]:
### dropping an extra column created by mistake. 
df_1 = df_1.drop(columns='Other_cleaned')

In [51]:
print(df_1)

            Country Recorded Consumption Unrecorded Consumption Beer (%)  \
0           Estonia                 11.8                    1.1     35.3
1         Lithuania                 11.0                    0.8     42.5
2    Czech Republic                 12.9                    0.4     52.7
3        Seychelles                 13.3                    0.5     42.0
4           Germany                 11.1                    0.4     50.5
..              ...                  ...                    ...      ...
373      Bangladesh                  0.1                    0.1     11.1
374          Kuwait                  0.1                    0.1        0
375           Libya                  0.1                    0.1      6.8
376      Mauritania                  0.1                    0.1        0
377         Somalia                  0.1                    0.1        0

    Wine (%) Spirits (%) Other (%) 2025 projection 2030 projection
0       16.9        38.2       9.7            11.1            12.2
1        7.7        45.2       4.6            11.7            12.1
2       21.8        25.4       0.1            13.4            13.2
3       20.8        33.7       3.5            12.1            11.7
4       29.9        19.6       0.1            12.1            11.6
..       ...         ...       ...             ...             ...
373      2.4        86.3       0.1             0.1             0.1
374        0           0       0.1             0.1             0.1
375     10.5        32.6      50.2             0.1             0.1
376        0           0      50.2             0.1             0.1
377        0           0      50.2             0.1             0.1

[378 rows x 9 columns]

In [52]:
df_1.describe()

,Country,Recorded Consumption,Unrecorded Consumption,Beer (%),Wine (%),Spirits (%),Other (%),2025 projection,2030 projection
count,378,378,378,378,378,378,378,378,378
unique,189,91,31,167,132,165,81,96,97
top,Estonia,0.1,0.1,0,0.1,0,0.1,0.1,0.1
freq,2,32,64,8,22,8,114,26,28

In [55]:
### Changing the data types to float:
df_1 = df_1.astype({'Recorded Consumption': 'float', 
                    'Unrecorded Consumption': 'float',
                    'Beer (%)': 'float',
                    'Wine (%)': 'float',
                    'Spirits (%)': 'float',
                    'Other (%)': 'float',
                    '2025 projection': 'float',
                    '2030 projection': 'float'})

In [58]:
df_1.isna().sum()

Country                   0
Recorded Consumption      0
Unrecorded Consumption    0
Beer (%)                  0
Wine (%)                  0
Spirits (%)               0
Other (%)                 0
2025 projection           0
2030 projection           0
dtype: int64

In [57]:
### Descriptive analysis of the dataset after cleaning:
print (f"Shape of the dataset: {df_1.shape}")
print("*" * 99)
print (f"Columns in the dataset: {df_1.columns}")
print("*" * 99)
print (f"Datatypes of each column: {df_1.dtypes}")
print("*" * 99)
print (f"First five records in the dataset: {df_1.head(5)}")
print("*" * 99)
print (f"Statistical summary about the dataset: {df_1.describe(include="all")}")
print("*" * 99)

Shape of the dataset: (378, 9)
***************************************************************************************************
Columns in the dataset: Index(['Country', 'Recorded Consumption', 'Unrecorded Consumption', 'Beer (%)',
       'Wine (%)', 'Spirits (%)', 'Other (%)', '2025 projection',
       '2030 projection'],
      dtype='object')
***************************************************************************************************
Datatypes of each column: Country                    object
Recorded Consumption      float64
Unrecorded Consumption    float64
Beer (%)                  float64
Wine (%)                  float64
Spirits (%)               float64
Other (%)                 float64
2025 projection           float64
2030 projection           float64
dtype: object
***************************************************************************************************
First five records in the dataset:           Country  Recorded Consumption  Unrecorded Consumption  Beer (%)  \
0         Estonia                  11.8                     1.1      35.3
1       Lithuania                  11.0                     0.8      42.5
2  Czech Republic                  12.9                     0.4      52.7
3      Seychelles                  13.3                     0.5      42.0
4         Germany                  11.1                     0.4      50.5

   Wine (%)  Spirits (%)  Other (%)  2025 projection  2030 projection
0      16.9         38.2        9.7             11.1             12.2
1       7.7         45.2        4.6             11.7             12.1
2      21.8         25.4        0.1             13.4             13.2
3      20.8         33.7        3.5             12.1             11.7
4      29.9         19.6        0.1             12.1             11.6
***************************************************************************************************
Statistical summary about the dataset:         Country  Recorded Consumption  Unrecorded Consumption    Beer (%)  \
count       378            378.000000              378.000000  378.000000
unique      189                   NaN                     NaN         NaN
top     Estonia                   NaN                     NaN         NaN
freq          2                   NaN                     NaN         NaN
mean        NaN              4.749735                0.873016   41.675132
std         NaN              3.720851                1.189281   21.878749
min         NaN              0.100000                0.100000    0.000000
25%         NaN              1.300000                0.300000   27.600000
50%         NaN              4.100000                0.500000   41.000000
75%         NaN              7.600000                0.900000   55.900000
max         NaN             13.300000                6.700000  100.000000

          Wine (%)  Spirits (%)   Other (%)  2025 projection  2030 projection
count   378.000000   378.000000  378.000000       378.000000       378.000000
unique         NaN          NaN         NaN              NaN              NaN
top            NaN          NaN         NaN              NaN              NaN
freq           NaN          NaN         NaN              NaN              NaN
mean     14.624868    31.574603   10.559788         5.461376         5.593122
std      16.580227    23.620141   21.009369         4.010588         4.086986
min       0.000000     0.000000    0.100000         0.100000         0.100000
25%       1.800000    13.000000    0.100000         2.000000         1.800000
50%       7.800000    25.400000    1.000000         5.000000         5.100000
75%      25.600000    45.100000    5.900000         8.700000         8.900000
max      77.400000    96.800000   96.700000        16.900000        17.500000
***************************************************************************************************

In [64]:
### Saving the file......
df_1.to_csv('Counsumption_by_liquor_1.csv', index = False)